@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
   margin: 0px;
   padding: 0px;
}

:root {

    --font-principal: "Sriracha", "cursive";
    --font-titulo: "Anton SC";
    --font-tres: "Sarabun";


}

header {
    background-color: black;
    width: 100%;
    height: 250px;
    color: white;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    
}

header > h1{
    font-family: var(--font-titulo);
    font-size: 85px;
    font-weight: bold;

}

header p {
    font-size: 18px;
    font-family: var(--font-tres);
}

header p a {
    text-decoration: none;
    color: white;
}

main {
    font-family: var(--font-principal);
    font-size: 47px;
}

main #pri-bloco {
    width: 100%;
    height: 100%;
    padding: 40px;
}

main #pri-bloco p {
    max-width: 500px;
    padding-bottom: 100px;
}

main #seg-bloco {
    background-image: url("../imagens/background001.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    padding: 40px;
}

main #seg-bloco p {
    color: white;
    max-width: 500px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.589);
    padding: 30px 0 10px 20px;
}

main #ter-bloco {
    width: 100%;
    height: 100%;
    padding: 40px;
}

main #ter-bloco p {
    max-width: 500px;
    padding-bottom: 100px;
}

main #qua-bloco {
    background: url('../imagens/background002.jpg') center no-repeat fixed;
    width: 100%;
    height: 100%;
    padding: 40px;
}

main #qua-bloco p {
    max-width: 500px;
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    padding: 30px 0 10px 20px;
}

main #qui-bloco {
    width: 100%;
    height: 100%;
    padding: 40px;
}

main #qui-bloco p {
    max-width: 500px;
    padding-bottom: 100px;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;

    font-size: 16px;
    font-family: var(--font-tres);
    
}

footer p a {
    color: white;
    text-decoration: none;
}