@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --cor1: white;
    --cor2: #6140FD;
    --cor3: #4922CA;
    --cor4: #4633ED;
    --cor5: black;
    --cor6: rgba(255, 164, 164, 0.116);
    --cor7: red;
    --cor8: rgba(255, 255, 175, 0.185);
    --cor9: rgb(255, 187, 0);
    --cor10: rgba(137, 228, 193, 0.192);
    --cor11: rgb(34, 133, 95);
    --cor12: rgba(145, 106, 163, 0.192);
    --cor13: rgb(103, 28, 138);
    --cor14: #303C58;

    --font-titulo: 'Young Serif', 'cursive';
    --font-conteudo: 'Outfit', 'cursive';

}

* {
    margin: 0px;
    padding: 0px;
    
}



